<nav>
    <a href="/"><img src="/images/club.png" alt="power club logo" class="img-logo"></a>
    <div class="nav-links">
        <% if (locals.user) { %>
            <h1>Hi <%= user.firstname %>.</h1>
            <a href="/auth/logout">Log out</a>
        <% } else { %>
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign-Up</a>
        <% } %>
    </div>
</nav>