<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Power Club</title>
    <link rel="stylesheet" href="/css/background.css">
</head>
<body>
<%- include("./partials/nav.ejs") %>
    <main>
        <!--messages should be here in main-->
        <p>messages here...</p>
    </main>
    <footer></footer>
</body>
</html>