<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/background.css">
</head>
<body>
<% if (locals.user) { %>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/logout">LOG OUT</a>
<% } else { %>
    <h1>Please Log In</h1>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" required/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required/>
        <button type="submit">Log In</button>
    </form>
<% } %>
</body>
</html>